<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#    <meta http-equiv="X-UA-Compatible" content="IE=edge">#}
    <!-- 让 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>交流平台-{% block title %} {% endblock %}</title>
    <!-- Bootstrap -->
    <link href="{{ url_for('static',filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">

    {% block head %}{% endblock %}
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='lib/bootstrap/js/bootstrap.min.js') }}"></script>
</head>

<body>
<section class="header">
    <div class="container">
        <img src="{{ url_for('static',filename='images/logo.gif') }}" class="logo" alt="logo">
    </div>
    {% include 'nav.html' %}
</section>


<div>
    {% block main %}{% endblock %}
</div>

</body>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="{{ url_for('static',filename='js/html5shiv.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/respond.min.js') }}"></script>
    <![endif]-->
<script src="{{ url_for('static',filename='js/base.js') }}"></script>

{% block js %}
{% endblock %}

</html>