{% extends 'base.html' %}

{% block title %}详情{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/content.css') }}">
    {#    <link rel="stylesheet" href="{{ url_for('static',filename='lib/paginator/myPage.css') }}">#}
{% endblock %}

{% block main %}
    <section class="page01">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    {% import '_macros_content_top_label.html' as content_top_label %}
                    {{ content_top_label.content_top_label(path_label) }}
                    <!-- 媒体对象 -->
                    {% for article in article_pagination.items %}
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" data-src="holder.js/64x64" alt="64x64"
                                     style="width: 64px; height: 64px;"
                                     src="{{ url_for('static',filename=db.session.query(User).filter(User.id == article.author_id).first().avatar_path) }}"
                                     data-holder-rendered="true">
                            </div>
                            <div class="media-body">
                                <h5 class="media-heading">

                                    {% if article.label %}
                                        <a href="{{ url_for('content',label_id=article.label.id) }}">[{{ article.label.name }}]</a>
                                    {% endif %}
                                    {#                                    {% with label = article.label.parent %}#}
                                    {#                                        {% for _ in range(1, 5) %}#}
                                    {#                                            {% if not label %}#}
                                    {#                                                {% break %}#}
                                    {#                                            {% endif %}#}
                                    {#                                            <a href="{{ url_for('content',label_id=label.id) }}">[{{ label.name }}]</a>#}
                                    {#                                            {% set label = label.parent %}#}
                                    {#                                        {% endfor %}#}
                                    {#                                    {% endwith %}#}
                                    <a href="{{ url_for('article',article_id = article.id) }}">{{ article.title }}</a>
                                </h5>
                                <h6 class="media-middle">
                                    <span>日期：</span><span>{{ article.modify_time }}</span>
                                    <span>点击：</span><span>{{ article.click_count }}</span>
                                    <span>好评：</span><span>{{ article.good_count }}</span>
                                </h6>
                                <span>{{ article.info }}</span>
                            </div>
                        </div>
                    {% endfor %}

                    <!-- 分页 -->
                    {% import '_macros_pagination.html' as macros %}
                    {% if article_pagination %}
                        {{ macros.pagination_widget(article_pagination,base_url+'?page=') }}
                    {% endif %}

                </div>
                {#   右边         #}
                <div class="col-md-3">
                    {% import '_macros_content_right.html' as content_right %}
                    {{ content_right.content_right(column_label_list,recommended_content,hot_content) }}
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block js %}
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {#    <script src="{{ url_for('static',filename='lib/paginator/jqPaginator.min.js') }}"></script>#}
    {#    <script src="{{ url_for('static',filename='lib/paginator/myPage.js') }}"></script>#}
    <script src="{{ url_for('static',filename='js/content.js') }}"></script>
{% endblock %}
