<nav class="navbar navbar-default navbar-static-top" id="navbar">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-8"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- <a class="navbar-brand" href="#">Brand</a> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{ url_for('index') }}">主页</a>
                </li>
{#                <li>#}
{#                    <a href="{{ url_for('content_main') }}">content</a>#}
{#                </li>#}
                {% for label in nav_label %}
                    <li>
                        <a href="{{ url_for('content',label_id=label.id) }}">{{ label.name }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a href="#">匿名社区</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if session.get('user_id') %}
                     <li>
                        <a href="{{ url_for('user_login') }}">个人中心</a>
                    </li>
                    <li>
                        <a href="{{ url_for('logout') }}">注销</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ url_for('login') }}">登录</a>
                    </li>
                    <li>
                        <a href="{{ url_for('register') }}">注册</a>
                    </li>
                {% endif %}
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
<script>
    $(function () {
        nav_name = "{{ nav }}";
        var nav = 0;
        var children = $('#bs-example-navbar-collapse-8 ul li')
        if (nav_name !== "") {
            $(children).each(function (i) {
                if ($(this).text().trim() == nav_name) {
                    nav = i;
                    console.log(nav);
                }
            })
        }
        $(children[nav]).addClass('active');

    });

</script>